<!DOCTYPE html>
<html>
<head>
  <title>Home - Todo App</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header><h1>Home Page</h1></header>
  <div class="container">
    <h2>This is the Home Page</h2>
    <a href="/form">Go to Task Manager</a>
  </div>
</body>
</html>