<!DOCTYPE html>
<html>
<head>
  <title>Todo App</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header><h1>Welcome to To-Do List App</h1></header>
  <div class="container">
    <h2>Navigation</h2>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/form">Manage Tasks</a></li>
    </ul>
  </div>
</body>
</html>
